$def with (face_name, add_face, find_face)

<!doctype html>

<html>
    <head>
        <title>Face Recognition</title>
        <link rel="stylesheet" type="text/css" href="/static/facenet.css" />
	<script type="text/javascript" src="/static/jquery.js"></script>
        
	
    </head>
    
    <body>
	<div id="add_face" class="face_div">
		<h3>ADD A FACE</h3>	
		<form name="add_face" method="POST" enctype="multipart/form-data" action="">
			<label for="new_face_name">Face Name:</label><br/><br/>
    			<input type="text" name="new_face_name"><br/><br/>
			<div class="img_canvas">
				<img id="add_image" src="$add_face" width=375 height=375 >			
			</div><br/><br/>
			<input type="file" name="file1" id="file1" class="inputfile" multiple onchange=""/>
			<label for="file1" class="file_label">Select Images</label>
			<input type="hidden" id="form_name" name="form_name" value="add_face">    		
			<input id="add_submit" type="submit" value="SUBMIT"><br/>
  		</form>
	</div>
	<div id="find_face" class="face_div">
		<h3>RECOGNIZE A FACE</h3>  		
		<form name="find_face" method="POST" enctype="multipart/form-data" action="">
			<label for="rec_face_name">Face Identified as:</label><br/><br/>
			<input type="text" name="ver_face_name" id="ver_face_name" value="$face_name" disabled><br/><br/>    			
			<div class="img_canvas">
				<img id="find_image" src="$find_face" width=375 height=375 >
			</div><br/><br/>			
			<input type="file" name="file2" id="file2" class="inputfile" onchange="" />
			<label for="file2" class="file_label">Select Images</label>
			<input type="hidden" id="form_name" name="form_name" value="find_face">    	
			<input id="find_submit" type="submit" value="SUBMIT" />
  		</form>
	</div>
	<script>
	
    </body>
</html>
